In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\judit\appdata\local\programs\python\python38\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\judit\appdata\local\programs\python\python38\lib\site-packages (from mysql-connector-python) (4.21.12)

In [27]:
import mysql.connector as connector

connection = connector.connect(user = "preta", password = "/@2&nUt43yrH$2L22", db = "littlelemondb")

In [28]:
cursor = connection.cursor()

In [21]:
cursor.execute("use littlelemondb" )

In [22]:
show_tables_query = "show tables" 
cursor.execute(show_tables_query)

In [23]:
results= cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('menu',), ('morethan150ordersview',), ('morethan2ordersview',), ('order_delivery_status',), ('orders',), ('orders_has_menu',), ('ordersview',), ('staff',)]

In [29]:


query = """
    SELECT Customers.fullName, Customers.contactNumber, Orders.totalCost
    FROM Customers
    JOIN Orders ON Customers.customerID = Orders.customerID
    WHERE Orders.totalCost > 60
    """
# Execute the query
cursor.execute(query)

# Fetch all the rows
results = cursor.fetchall()

# Display the results
for row in results:
    full_name = row[0]
    contact_number = row[1]
    total_cost = row[2]
    print(f"Full Name: {full_name}, Contact Number: {contact_number}, Total Cost: {total_cost}")

# Close the cursor and database connection
cursor.close()
connection.close()

Full Name: Jane Smith, Contact Number: 987-654-3210, Total Cost: 120.75